<main class="not-found-container">
    <mat-card>
        <mat-card-title>Page Not Found</mat-card-title>
        <mat-card-content>
            <p>
                Oops! The page you're looking for doesn't exist. It may have been moved, deleted, or you might have
                mistyped the URL.
            </p>
            <br />

            <mat-card class="alert alert-warning">
                <p>
                    If you believe this is an error, please <strong><a class="clickMe" routerLink="/contact-us">Contact Us</a></strong>.
                </p>
            </mat-card>

            <br />

            <button mat-raised-button color="primary" routerLink="/" class="btn-submit">
                Return to Home
            </button>
        </mat-card-content>
    </mat-card>
</main>