<main class="account-setup-containe container">
  <mat-card>
    <mat-card-title>Almost There!</mat-card-title>
    <mat-card-content>
      <p>
        Great job finishing the survey! Enable your location so we can connect you with local friends.
      </p>


      <mat-card class="alert alert-warning mt-3" *ngIf="!preciseLocationGranted">
        <p>
          📍 We estimated your location by IP, but it may not be precise.
          <br />
          For best results, please enable precise location.
        </p>
      </mat-card>

      <!-- Loading and Error States -->
      <app-loading *ngIf="geoLoading$ | async"></app-loading>
      <mat-card class="alert alert-danger mt-3" *ngIf="(geoError$ || error$) | async">
        <p>❌ {{ geoError$ | async }}</p>
      </mat-card>

      <button mat-raised-button color="accent" (click)="onSubmit()" class="btn-submit" [disabled]="loading$ | async">
        Continue & Meet Local Friends!
      </button>
    </mat-card-content>
  </mat-card>
</main>