<mat-card>
  <mat-card-header>
    <mat-card-title>Conversation</mat-card-title>
  </mat-card-header>
  <mat-card-content style="max-height: 400px; overflow-y: auto;">
      <app-loading  *ngIf="(loading$ | async)"></app-loading>
    <div *ngIf="(error$ | async) as err">
      <p style="color: red;">Error: {{ err }}</p>
    </div>
    <div *ngFor="let msg of (messages$ | async)">
      <p>
        <strong>{{ msg.senderId }}</strong>: {{ msg.text }}
        <span style="font-size: 0.8em; color: gray;">
          {{ msg.timestamp | date:'shortTime' }}
        </span>
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field style="flex: 1;">
      <input matInput placeholder="Type your message" [(ngModel)]="newMessage">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
  </mat-card-actions>
</mat-card>