<div class="chat-container">
  <!-- Loading -->
  <div class="loading-indicator" *ngIf="loading$ | async">
    <app-loading></app-loading>
  </div>

  <!-- Chat messages area -->
  <div
    class="chat-messages"
    [style.paddingBottom.px]="isOtherUserTyping ? 80 : 16"
    #messagesContainer
    *ngIf="!(loading$ | async)"
  >
    <!-- Error -->
    <ng-container *ngIf="error$ | async as error">
      <div class="error-message">Error: {{ error }}</div>
    </ng-container>

    <!-- Message list -->
    <div *ngFor="let msg of messages$ | async" class="message-wrapper" [ngClass]="{
      'mine': msg.senderId === currentUserId,
      'theirs': msg.senderId !== currentUserId
    }">
      <app-image-display
        *ngIf="msg.senderId !== currentUserId"
        [identityId]="msg.senderId"
        class="avatar left-avatar"
        (click)="openUserProfile(msg.senderId)"
        style="cursor: pointer;">
      </app-image-display>

      <mat-card class="message-bubble">
        <div 
          class="recipientUserName" 
          *ngIf="msg.senderId !== currentUserId"
          (click)="openUserProfile(msg.senderId)"
          style="cursor: pointer;"
          >
          {{ recipientUserName$ | async }}
        </div>
        <div class="text">{{ msg.text }}</div>
        <div class="timestamp">{{ msg.timestamp | date: 'shortTime' }}</div>
        <mat-icon *ngIf="msg.senderId === currentUserId" [ngClass]="{
          'read': msg.status === 'read',
          'delivered': msg.status === 'delivered',
          'sent': msg.status === 'sent'
        }" class="read-status-icon">
          {{ msg.status === 'read' ? 'done_all' : 'done' }}
        </mat-icon>
      </mat-card> 
<!-- 
      <mat-card class="message-bubble" (click)="reaction.toggle($event)">
        <div class="recipientUserName" (click)="openUserProfile(msg.senderId); $event.stopPropagation()">
          {{ recipientUserName$ | async }}
        </div>
        <div class="text">{{ msg.text }}</div>
        <div class="timestamp">{{ msg.timestamp | date: 'shortTime' }}</div>
        <app-chat-reaction #reaction
                           [messageId]="msg.id"
                           [reactions]="msg.reactions"
                           (addReaction)="handleAddReaction($event, msg.id)">
        </app-chat-reaction>
        <mat-icon *ngIf="msg.senderId === currentUserId" [ngClass]="{
          'read': msg.status === 'read',
          'delivered': msg.status === 'delivered',
          'sent': msg.status === 'sent'
        }" class="read-status-icon">
          {{ msg.status === 'read' ? 'done_all' : 'done' }}
        </mat-icon>
      </mat-card> -->
      
      <app-image-display
        *ngIf="msg.senderId === currentUserId"
        [identityId]="msg.senderId"
        class="avatar right-avatar">
      </app-image-display>
    </div>

    <!-- Typing indicator -->
    <div class="typing-area-wrapper">
      <div class="typing-area" *ngIf="isOtherUserTyping">
        <app-image-display [identityId]="recipientId" class="avatar typing-avatar"></app-image-display>
        <div class="typing-indicator-content">
          <div class="dots"><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>

  <!-- Chat input -->
  <div class="chat-input">
    <mat-form-field class="message-field">
      <input
        matInput
        [(ngModel)]="newMessageText"
        placeholder="Type a message..."
        (keydown.enter)="sendMessage()"
        (input)="onInputChange()"
        (blur)="onInputBlur()" />
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="sendMessage()" [disabled]="!newMessageText.trim()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>