<header>
  <div class="header-container">
    <div class="branding">
      <a routerLink="/">
        <img id="logo" src='/assets/images/logo.svg' />
        <span id="logoText">Get Local</span>
      </a>
    </div>

    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="nav-links">
    
      <ng-container *ngIf="(isLoggedIn$ | async); else loggedOut">
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/search" routerLinkActive="active">Search</a>

        <!-- Profile dropdown (desktop hover, mobile integrated) -->
        <div class="profile-container">
          <mat-icon>person</mat-icon>
          <div class="profile-dropdown">
            <div>
              <a routerLink="/myProfile">My Profile</a>
            </div>
            <div>
              <a class="signOut" (click)="signOut()">Logout</a>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #loggedOut>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/survey" routerLinkActive="active">Survey</a>
        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        <a routerLink="/login" routerLinkActive="active">Sign Up</a>
        <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
      </ng-template>

      <div class="theme-toggle" (click)="toggleTheme()">
        <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </div>
    </nav>
  </div>
</header>