<header>
  <div class="header-container" #headerContainer>
    <div class="branding">
      <a routerLink="/">
        <img id="logo" src='/assets/images/logo.svg' />
        <span id="logoText">Get Local</span>
      </a>
    </div>

    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="nav-links">

      <ng-container *ngIf="(isLoggedIn$ | async); else loggedOut">
        <!-- <a routerLink="/dashboard" routerLinkActive="active"><mat-icon>dashboard</mat-icon>Dashboard</a> -->
        <a routerLink="/search" routerLinkActive="active" class="nav-link"><mat-icon class="jiggle-icon">search</mat-icon>Search</a>
        <a routerLink="/chatList" routerLinkActive="active" class="messages-link spaced-link">
          <mat-icon class="jiggle-icon">forum</mat-icon>
          <span class="unread-badge" *ngIf="(unreadCount$ | async)">
            {{ unreadCount$ | async }}
          </span>
          <span class="messages-text">Messages</span>
        </a>
        

        <a routerLink="/myProfile" routerLinkActive="active" class="nav-link spaced-link"><mat-icon class="jiggle-icon">person</mat-icon>My Profile</a>

        <a class="signOut spaced-link" (click)="signOut()"><mat-icon>logout</mat-icon>Logout</a>


      </ng-container>
      <ng-template #loggedOut>
        <a routerLink="/survey" routerLinkActive="active"><mat-icon class="jiggle-icon">assignment</mat-icon>Survey</a>
        <a routerLink="/contact-us" routerLinkActive="active"><mat-icon class="jiggle-icon">mail</mat-icon>Contact
          Us</a>
        <a routerLink="/login" routerLinkActive="active"><mat-icon class="jiggle-icon">login</mat-icon>Sign Up</a>
        <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
      </ng-template>

      <a class="theme-toggle spaced-link" (click)="toggleTheme()">
        <mat-icon class="jiggle-icon">
          {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
        </mat-icon>
      </a>
      
    </nav>
  </div>
</header>