<header>
  <div class="header-container">
    <div class="branding">
      <a href="/">Get Local Friends</a>
    </div>

    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/survey" routerLinkActive="active">Survey</a>
      <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      <a routerLink="/search" routerLinkActive="active">Search</a>
      <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <div class="theme-toggle" (click)="toggleTheme()">
        <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </div>
    </nav>
  </div>
</header>