<header>
  <div class="header-container">
    <div class="branding">
      <a aria-current="page" class="active" href="/">Get Local Friends</a>
    </div>
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      <a routerLink="/search" routerLinkActive="active">Search</a>
      <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
    </nav>
    <button mat-button (click)="toggleTheme()">Toggle</button>
  </div>
</header>