<main>
    <h1>Sign Up</h1>
    <form (ngSubmit)="signUp()">
      <label>
        User ID:
        <input type="text" [(ngModel)]="userId" name="userId" required />
      </label>
      <br />
      <label>
        Latitude:
        <input type="number" [(ngModel)]="lat" name="lat" required />
      </label>
      <br />
      <label>
        Longitude:
        <input type="number" [(ngModel)]="lng" name="lng" required />
      </label>
      <br />
      <button type="button" (click)="useCurrentLocation()">Use Current Location</button>
      <br />
      <button type="submit">Sign Up</button>
    </form>
    <div *ngIf="message">
      {{ message }}
    </div>
  </main>
    <!-- Show loading overlay if search is in progress -->
    <ng-container *ngIf="loading">
      <app-loading></app-loading>
    </ng-container>