<mat-card class="chat-list-card">
  <mat-card-title><h1>Your Conversations</h1></mat-card-title>
  <mat-card-content>
    <button mat-icon-button color="primary" style="float:right" (click)="refreshConversations()" matTooltip="Refresh Conversations">
      <mat-icon>refresh</mat-icon>
    </button>
    <app-loading *ngIf="loading$ | async"></app-loading>
    <div *ngIf="error$ | async as err" class="error-msg">
      Error: {{ err }}
    </div>
    <ng-container *ngIf="conversations$ | async as conversations">
      <ng-container *ngIf="conversations.length > 0; else noChats">
        <mat-list>
          <mat-list-item style="height:auto;"
            *ngFor="let convo of conversations"
            (click)="openConversation(convo)"
            class="chat-item"
          >
          <div class="left">
              <app-image-display 
              [identityId]="getRecipientId(convo)"
              class="chat-avatar"
              style="cursor:pointer">
            </app-image-display>
          </div>
          <div class="right">
            <div mat-line class="chat-user">
              {{ getRecipientName(convo) }}
            </div>
            <div mat-line class="chat-preview">
              {{ convo.lastMessage }}
            </div>
            <div mat-line class="chat-timestamp">
              {{ convo.lastTimestamp | date: 'short' }}
            </div>
          </div>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-template #noChats>
        <p class="no-results">You have no past conversations.</p>
      </ng-template>
    </ng-container>
  </mat-card-content>
</mat-card>