<!-- <mat-card>
    <mat-card-header>
      <mat-card-title>Your Conversations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-loading  *ngIf="(loading$ | async)"></app-loading>
      <div *ngIf="(error$ | async) as err">
        <p style="color: red;">Error: {{ err }}</p>
      </div>
      <mat-list>
        <mat-list-item *ngFor="let conv of (conversations$ | async)" (click)="openConversation(conv)">
          <div mat-line>
            <strong>
              {{ conv.participantA === currentUserId ? conv.participantB : conv.participantA }}
            </strong>
          </div>
          <div mat-line>
            {{ conv.lastMessage }}
          </div>
          <div mat-line style="font-size: 0.8em; color: gray;">
            {{ conv.lastTimestamp | date:'short' }}
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card> -->
  <p>hi</p>