<mat-card class="profile-container mat-elevation-z4">
  
  
  
  <ng-container *ngIf="loading$ | async">
    <app-loading></app-loading>
  </ng-container>

  <ng-container *ngIf="error$ | async as error">
    <p class="error">{{ error }}</p>
  </ng-container>

  <ng-container *ngIf="!(loading$ | async) && !(error$ | async) && identityId">
    <mat-card-content>
      <div class="profile-header">
        <img
          [src]="profileImage"
          alt="Profile Picture"
          class="profile-image"
          (error)="profileImage = '/assets/images/noImageUploaded.jpg'"
        />
      </div>

      <app-upload-image></app-upload-image>

      <div class="profile-details" *ngIf="userProfile">
        <h2>Profile Information</h2>
        <mat-list>
          <mat-list-item *ngFor="let key of userProfile | keyvalue">
            <mat-icon>account_circle</mat-icon>
            <strong>{{ key.key | titlecase }}</strong>: {{ key.value }}
          </mat-list-item>
        </mat-list>
      </div>
      <mat-card class="location-card" *ngIf="userProfile == null">
        <mat-card-title>You Are So Close!!</mat-card-title>
        <mat-card-content>
          <p>Please complete the survey to be matched with other people locally in your area.</p>
          <p><a routerLink="/survey">Survey</a>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </ng-container>

  <!-- <ng-container *ngIf="!(loading$ | async) && !(error$ | async) && !identityId">
    <p>Please sign in to view your profile.</p>
    <button mat-raised-button color="primary" routerLink="/login">Sign In</button>
  </ng-container> -->
</mat-card>