<!-- <mat-card class="profile-container mat-elevation-z4">
  <ng-container *ngIf="loading$ | async">
    <app-loading></app-loading>
  </ng-container>

  <ng-container *ngIf="error$ | async as error">
    <p class="error">{{ error }}</p>
  </ng-container>

  <ng-container *ngIf="!(loading$ | async) && !(error$ | async)">
    <mat-card-content>
      <div class="profile-header">
        <div class="profile-image-wrapper">
          <img
            [src]="profileImage"
            alt="Profile Picture"
            class="profile-image"
            (error)="profileImage = '/assets/images/noImageUploaded.jpg'"
          />
          <mat-icon class="edit-icon" (click)="triggerEdit()">edit</mat-icon>
        </div>
        <button mat-raised-button color="accent" class="animal-profile-button" (click)="viewAnimalProfile()">
          View Animal Profile
        </button>
      </div>
      <app-upload-image #uploadComponent (imageUpdated)="onImageUpdated($event)" style="display: none;"></app-upload-image>
      <div class="profile-details" *ngIf="userProfile$ | async as userProfile">
        <h2>Profile Information</h2>
        <mat-list>
          <mat-list-item *ngIf="userProfile.userName">
            <mat-icon>account_circle</mat-icon>
            <strong>User Name:</strong> {{ userProfile.userName }}
          </mat-list-item>
          <mat-list-item *ngIf="userProfile.locationLat">
            <mat-icon>location_on</mat-icon>
            <strong>Latitude:</strong> {{ userProfile.locationLat }}
          </mat-list-item>
          <mat-list-item *ngIf="userProfile.locationLng">
            <mat-icon>location_on</mat-icon>
            <strong>Longitude:</strong> {{ userProfile.locationLng }}
          </mat-list-item>
          <mat-list-item *ngIf="userProfile.lastOnlineAt">
            <mat-icon>schedule</mat-icon>
            <strong>Last Online:</strong> {{ userProfile.lastOnlineAt }}
          </mat-list-item>
          <mat-list-item *ngIf="userProfile.surveyAnswers?.length">
            <mat-icon>assignment</mat-icon>
            <strong>Survey Answers:</strong>
            <ul>
              <li *ngFor="let ans of userProfile.surveyAnswers">
                Q{{ ans.questionId }}: {{ ans.answer }}
              </li>
            </ul>
          </mat-list-item>
        </mat-list>
      </div>

      <mat-card class="location-card" *ngIf="!(userProfile$ | async)">
        <mat-card-title>You Are So Close!!</mat-card-title>
        <mat-card-content>
          <p>Please complete the survey to be matched with other people locally in your area.</p>
          <p><a routerLink="/survey">Survey</a></p>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </ng-container>
</mat-card> -->

<mat-card class="profile-container mat-elevation-z6">

  <ng-container *ngIf="loading$ | async">
    <app-loading></app-loading>
  </ng-container>
  
  <ng-container *ngIf="error$ | async as error">
    <p class="error">{{ error }}</p>
  </ng-container>
  
  <ng-container *ngIf="(userProfile$ | async) as userProfile">
    <ng-container *ngIf="!(loading$ | async) && !(error$ | async)">

    <div class="animal-profile-section">
      <div class="animal-card">
        <img
          [src]="'/assets/images/animal/male/' + userProfile.selfProfile?.animal?.toLowerCase() + '.png'"
          alt="{{ userProfile.selfProfile?.animal }}"
        />
        <h3>You are a {{userProfile.selfProfile?.adjective}} {{ userProfile.selfProfile?.animal }}</h3>
        <p>{{ userProfile.selfProfile?.fullDescription }}</p>
      </div>

      <div class="animal-card">
        <img
          [src]="'/assets/images/animal/male/' + userProfile.seekingProfile?.animal?.toLowerCase() + '.png'"
          alt="{{ userProfile.seekingProfile?.animal }}"
        />
        <h3>Looking for a {{userProfile.seekingProfile?.adjective}} {{ userProfile.seekingProfile?.animal }}</h3>
        <p>{{ userProfile.seekingProfile?.fullDescription }}</p>
      </div>
    </div>

    <div class="user-details">
      <h2>{{ userProfile.userName }}</h2>
      <div class="location">
        <mat-icon>location_on</mat-icon>
        <span>{{ userProfile.locationLat | number:'1.2-2' }}, {{ userProfile.locationLng | number:'1.2-2' }}</span>
      </div>
      <button mat-raised-button color="accent" (click)="triggerEdit()">
        Change Profile Image
      </button>
    </div>

    <img
      class="profile-image"
      [src]="profileImage"
      (error)="profileImage = '/assets/images/noImageUploaded.jpg'"
    />

    <div class="map-placeholder">
      <p>Map placeholder - Nearby connections coming soon!</p>
    </div>
  </ng-container>
</ng-container>

</mat-card>

<app-upload-image #uploadComponent (imageUpdated)="onImageUpdated($event)" style="display: none;"></app-upload-image>
