<app-progress-bar [progress]="progress"></app-progress-bar>

<main class="survey-container">
  <mat-card>
    <mat-card-title>Survey</mat-card-title>
    <mat-card-content>
      <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
        <div class="question" *ngFor="let question of paginatedQuestions">
          <h3>{{ question.question }}</h3>
          <ng-container [ngSwitch]="question.type">
            <!-- Multiple Choice -->
            <div *ngSwitchCase="'multiple-choice'">
              <mat-radio-group formControlName="{{question.id}}">
                <mat-radio-button *ngFor="let option of question.options" [value]="option">
                  {{ option }}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <!-- Multiple Select (Checkboxes) -->
            <div *ngSwitchCase="'multiple-select'">
              <div *ngFor="let option of question.options">
                <mat-checkbox 
                  [checked]="isChecked(question.id, option)" 
                  (change)="toggleSelection(question.id, option)">
                  {{ option }}
                </mat-checkbox>
              </div>
            </div>

            <!-- True/False -->
            <div *ngSwitchCase="'true-false'">
              <mat-radio-group formControlName="{{question.id}}">
                <mat-radio-button value="true">Yes</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
            </div>

            <!-- Fill-In -->
            <div *ngSwitchCase="'fill-in'">
              <mat-form-field appearance="outline" class="form-group">
                <mat-label>Your answer</mat-label>
                <input matInput placeholder="Type your answer here" formControlName="{{question.id}}">
              </mat-form-field>
            </div>

            <!-- Sliding Scale replaced with radio buttons 1-10 -->
            <div *ngSwitchCase="'sliding-scale'">
              <mat-radio-group formControlName="{{question.id}}">
                <mat-radio-button *ngFor="let value of scaleRange" [value]="value">
                  {{ value }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </ng-container>
        </div>

        <div class="navigation-buttons">
          <!-- Previous button on left -->
          <button mat-button type="button" (click)="previousPage()" [disabled]="currentPage === 0">
            Previous
          </button>

          <!-- Next button if not on last page; Submit button on last page -->
          <ng-container *ngIf="!isLastPage(); else submitBlock">
            <button mat-button type="button" (click)="nextPage()" [disabled]="!arePageQuestionsValid()">
              Next
            </button>
          </ng-container>
          <ng-template #submitBlock>
            <button mat-button color="primary" type="submit" [disabled]="!arePageQuestionsValid()">
              Submit
            </button>
          </ng-template>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</main>