.survey-container {
  margin: auto;
  width: 80%;
}

@media (max-width: 600px) {
  .survey-container {
    width: 90%;
  }
}

.question {
  margin: 20px 0;
  display: block;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.textArea{
  width:100% !important;
}