.survey-container {
  margin: auto;
  width: 80%;
  margin-top:70px;
}
p.disclaimer{
  font-size: 0.9rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px solid #ddd;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .survey-container {
    width: 100%;
  }
}

.question {
  margin: 20px 0;
  display: block;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.textArea{
  width:100% !important;
}

.progress-bar-container {
  margin: 10px 0;
}