.login-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--bio-layout-bg);
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.branding {
  text-align: center;
  margin-bottom: 30px;
  
  .logo {
    max-width: 150px;
    margin-bottom: 10px;
  }

  h2 {
    color: var(--theme-primary);
    font-family: var(--font-family);
    margin: 0;
  }

  p {
    color: var(--meta-color);
    font-family: var(--font-family);
  }
}

.form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--mdc-elevated-card-container-color);
  border: 1px solid #ddd;
  border-radius: 8px;

  h3 {
    text-align: center;
    color: var(--theme-primary);
    margin-bottom: 20px;
    font-family: var(--font-family);
  }
}

.form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--meta-color);
    font-family: var(--font-family);
  }

  input {
    padding: 10px;
    font-size: 16px;
    font-family: var(--font-family);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    margin-top: 5px;
    align-self: flex-end;
    background: none;
    border: none;
    color: var(--theme-primary);
    cursor: pointer;
    font-family: var(--font-family);
  }
}

.error {
  color: var(--theme-warn);
  font-size: 12px;
  margin-top: 5px;
  font-family: var(--font-family);
}

.button-container {
  text-align: center;
  margin-top: 20px;

  button {
    padding: 10px 20px;
    background-color: var(--theme-primary);
    color: var(--theme-primary-contrast);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-family);
  }

  button:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: not-allowed;
  }
}

.switch-form-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-family: var(--font-family);

  a {
    color: var(--theme-primary);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.right-panel {
  flex: 1;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .hero-image {
    width: 100%;
    height:100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .login-container {
    margin-top:50px;
    flex-direction: column;
  }
  .form-container {
    max-width:100%!important;
  }
  .right-panel {
    display: none;
  }
}