<mat-card class="profile-container mat-elevation-z4">
  <ng-container *ngIf="loading">
    <app-loading></app-loading>
  </ng-container>

  <ng-container *ngIf="error">
    <p class="error">{{ error }}</p>
  </ng-container>

  <ng-container *ngIf="!loading && !error && identityId">
    <mat-card-content>
      <div class="profile-header">
        <img [src]="profileImage" alt="Profile Picture" class="profile-image" (error)="profileImage = '/assets/images/noImageUploaded.jpg'" />
        <button mat-raised-button color="warn" (click)="signOut()">Sign Out</button>
      </div>

      <app-upload-image></app-upload-image>

      <div class="profile-details">
        <h2>Profile Information</h2>
        <mat-list *ngIf="userProfile">
          <mat-list-item *ngFor="let key of userProfile | keyvalue">
            <mat-icon>account_circle</mat-icon>
            <strong>{{ key.key | titlecase }}</strong>: {{ key.value }}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </ng-container>

  <ng-container *ngIf="!loading && !error && !identityId">
    <p>Please sign in to view your profile.</p>
    <button mat-raised-button color="primary" routerLink="/login">Sign In</button>
  </ng-container>
</mat-card>