.search-container {
  padding-top:70px;
  margin: auto;
  width: 80%;
}

mat-card.mat-mdc-card.mdc-card.search-card {
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .search-container {
    width: 90%;
  }
}

.online-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.search-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
}
mat-card-title{
  text-align: center;
  font-size:20px;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0px;
}
.radius-field {
  width: 120px;
}

.user-card {
  display: flex;
  flex-direction: column;
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}