  :root {
    --primary-color: #000;
    --accent-color: #ff0055;
    --text-color: #333;
    --bg-color: #fff;
    --secondary-bg: #f8f8f8;
    --heading-font: 'Open Sans', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --amplify-colors-brand-accent: #ff0055; /* Default pink */
  }
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  padding: 20px;
}

main {
  margin-top: 70px; /* Adjust this value to match your header’s height */
}